// =============================================================================================================================================================================================================================================================
//  H   H  EEEEE    A    DDD    EEEEE  RRRR
//  H   H  E       A A   D  D   E      R   R
//  HHHHH  EEE    A   A  D   D  EEE    R   R
//  H   H  E      AAAAA  D   D  E      RRRR
//  H   H  E      A   A  D  D   E      R  R
//  H   H  EEEEE  A   A  DDD    EEEEE  R   R
// =============================================================================================================================================================================================================================================================
// * * * Header

.header{
    position: relative;
    height: 6rem;
    width: 100%;

    
    &__logo {
        width: 15rem;
        }
    
    &__arrow {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 1.8rem;
        font-weight: bold;
        color: $black;
    }
}