.header{
    position: relative;
    height: 6rem;
    width: 100%;

    
    &__logo {
        width: 15rem;
        }
    
    &__arrow {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 1.8rem;
        font-weight: bold;
        color: $black;
    }
}