// =============================================================================================================================================================================================================================================================
//  L       OOO     A    DDD    EEEEE  RRRR
//  L      O   O   A A   D  D   E      R   R
//  L      O   O  A   A  D   D  EEE    R   R
//  L      O   O  AAAAA  D   D  E      RRRR
//  L      O   O  A   A  D  D   E      R  R
//  LLLLL   OOO   A   A  DDD    EEEEE  R   R
// =============================================================================================================================================================================================================================================================
// * * * Loader
.loader{
    /* Couleur de background  en fixed*/
	height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 3;
    animation: white_page 3s linear ;
    visibility: hidden;
    
    /* le cercle de couleur qui pulse */
	&__animation{
		border-radius: 50%;
        width: 50px;
        height: 50px;
        background: radial-gradient(circle 80px, $primaire, $secondaire);
        margin: auto;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        animation: loader 1s linear 3;
        z-index: 2;
        visibility: hidden;
	}
}