@mixin flexCenter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $padding-section;
    gap: 2rem;   
}

// =============================================================================================================================================================================================================================================
//   GGG   RRRR   III  DDD
//  G   G  R   R   I   D  D
//  G      R   R   I   D   D
//  G  GG  RRRR    I   D   D
//  G   G  R  R    I   D  D
//   GGGG  R   R  III  DDD
// =============================================================================================================================================================================================================================================
// * * * GRID

/* ------------------------------ acceuil mixin ----------------------------- */
@mixin grid-accueil-restaurants {
    @media screen and (min-width: 600px){
        display: grid ; 
        grid-template-columns: repeat(2,50%);
        grid-template-areas: 
        "gridtitle gridtitle "
        "grid1 grid2"
        "grid3 grid4";

        .gridtitle {
            grid-area: gridtitle;
        }
        .grid1 {
            grid-area: grid1;
            margin-left: auto;
        }
        .grid2 {
            grid-area: grid2;
        }
        .grid3 {
            grid-area: grid3;
            margin-left: auto;
        }
        .grid4 {
            grid-area: grid4;
        } 
    } 
}
/* ------------------------------- Menus mixin ------------------------------ */
@mixin grid-menu {
    @media screen and (min-width: 400px){
        display: flex;
        flex-direction: column;
        
    }
    @media screen and (min-width: 600px){
        display: grid ; 
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "entrees__grid plats__grid"
        "desserts__grid button-grid";

        .entrees__grid {
            grid-area: entrees__grid;
        }
        .plats__grid {
            grid-area: plats__grid;
        }
        .desserts__grid {
            grid-area: desserts__grid;
        }
        .button-grid {
            grid-area: button-grid;
            margin: auto;
        }
    } 
}

