$primaire : #9356DC;

$secondaire : #ff79DA;

$tertiaire : #99e2d0;

$grey-background :#f7f7f7;

$grey-light : lighten(#797979, 30%);
$grey-text : #797979;
$grey-dark : darken(#797979, 30%); 

$white : #FFF;

$black : #000;

$gradient:linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);


$font-texte-light : 'roboto-light';
$font-texte-thin : 'roboto-thin';
$font-texte-normal : 'roboto';
$font-texte-bold : 'roboto-bold';
$font-texte-black : 'roboto-black';

$fontTitres : 'Shrikhand-Regular';

$font-size : 1.5rem;
$font-size-h1 : 2rem;
$font-size-h2 : 1.7rem;

$margin-top-small: 2rem ;
$margin-top-medium: 4rem ;
$margin-top-big: 6rem ;

$padding-section : 4rem 3rem ; 

/* --------------------------------- QUERIES -------------------------------- */
$breakpoints : (
    mobile : 680px,
    tablet : 1200px,
    desktop: 4032px
);