// ===========================================================================================================================================================================================================================================================================
//   CCC    OOO   U   U  L      EEEEE  U   U  RRRR    SSS
//  C   C  O   O  U   U  L      E      U   U  R   R  S
//  C      O   O  U   U  L      EEE    U   U  R   R   SSS
//  C      O   O  U   U  L      E      U   U  RRRR       S
//  C   C  O   O  U   U  L      E      U   U  R  R       S
//   CCC    OOO    UUU   LLLLL  EEEEE   UUU   R   R  SSSS
// ===========================================================================================================================================================================================================================================================================
// * * * Couleurs


$primaire : #9356DC;

$secondaire : #ff79DA;

$tertiaire : #99e2d0;

$grey-background :#f6f6f6;
$grey-light : lighten(#797979, 30%);
$grey-text : #797979;
$grey-dark : darken(#797979, 30%); 

$white : #FFF;

$black : #000;

$gradient:linear-gradient(175deg, rgba(255,121,218,1) 0%,  rgba(255,121,218,1) 10%, rgba(147,86,220,1) 60%);


// ======================================================================================================================================================================================================================================================
//  FFFFF   OOO   N   N  TTTTT   SSS
//  F      O   O  NN  N    T    S
//  FFF    O   O  N N N    T     SSS
//  F      O   O  N  NN    T        S
//  F      O   O  N   N    T        S
//  F       OOO   N   N    T    SSSS
// ======================================================================================================================================================================================================================================================
// * * * Fonts


$font-texte-light : 'roboto-light';
$font-texte-thin : 'roboto-thin';
$font-texte-normal : 'roboto';
$font-texte-bold : 'roboto-bold';
$font-texte-black : 'roboto-black';

$font-Titres : 'Shrikhand-Regular';

$font-size : 1.5rem;
$font-size-h1 : 2rem;
$font-size-h2 : 1.7rem;

// ==========================================================================================================================================================================================================================================================================================================
//  TTTTT    A    III  L      L      EEEEE   SSS        FFFFF   OOO   N   N  TTTTT   SSS
//    T     A A    I   L      L      E      S           F      O   O  NN  N    T    S
//    T    A   A   I   L      L      EEE     SSS        FFF    O   O  N N N    T     SSS
//    T    AAAAA   I   L      L      E          S       F      O   O  N  NN    T        S
//    T    A   A   I   L      L      E          S       F      O   O  N   N    T        S
//    T    A   A  III  LLLLL  LLLLL  EEEEE  SSSS        F       OOO   N   N    T    SSSS
// ==========================================================================================================================================================================================================================================================================================================
// * * * Tailles fonts


$margin-top-small: 2rem ;
$margin-top-medium: 4rem ;
$margin-top-big: 6rem ;

$padding-section : 3rem 2rem ; 


