/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */

.btn {
    position: relative;
    text-decoration: none;
    font-family: inherit;
    font-size: $font-size ;
    font-weight: bolder;
    padding: 1.5rem 2.5rem;
    border:none;
    box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 15%);

    &:hover,
    &:active {
        background-color: #f5edff;
        box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 50%);
    }

    //mettre l icon en violet au survol
    &:hover &__icon {
        color: $primaire;
    }

   /* ----------------------------- Button gradient ---------------------------- */

    &__gradient {
        background: $gradient;
        height: 5rem;
        color: white;
        border-radius: 10rem;

        &:hover,
        &:active {
            opacity: 0.8;
        }

        &--menus {
            width: 18rem;
            margin: 4rem auto;
            @media screen and (max-width : 200px)
            {
                width: 14rem;
                margin: 4rem auto;
            }
        }

    }

    &__default{
        background-color: $grey-background;
        border-radius: 1.4rem;
        width: 100%;
        max-width: 30rem;
        text-align: start;     

        & > div{
            background-color: $primaire;
            border-radius: 50%;
            position: absolute;
            top: 32%;
            left: -4%;
            width: 2.1rem;
            height: 2.1rem;

           @media screen and (max-width: 200px) { 
                top: -10%;
                left: 40%;
            }
        }
    }

    /* ---------------------------------- menus --------------------------------- */
    
    &__menus {
        display: flex;
        height: 6.4rem;
        width: 100% ;
        max-width: 38rem;
        background-color: $white;
        border-radius: 1.4rem;
        margin-bottom: 2rem;
        overflow: hidden;
        box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 15%);
        @media screen and (min-width: 400px) {
            width: 38rem;
            margin: 1rem auto;
        } 

        @media screen and (min-width: 600px) {
            width: 29rem;
            margin: 1rem auto;
        } 

        @media screen and (min-width: 800px) {
            width: 38rem;
            margin: 1rem auto;
        } 

        @media screen and (min-width: 1100px) {
            width: 50rem;
            margin: 2rem auto;
        } 
        
        
        &:hover &--check {
            animation: check .3s linear  forwards;
            
        }

        &:hover &--check-icon {
            animation: rotate .3s linear forwards;
            
        }

        &:hover {
            box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 30%);
        }

        &--prix {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            height: 6.4rem;
            line-height: 1.5;
            font-weight: bold;
        }

        &--check {

            // position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0rem;
            height: 6.4rem;
            background-color: $tertiaire;
            transition: all .2s;
            border-bottom: 2px solid $tertiaire;
            @media screen and (max-width: 300px) { 
                height: 7rem;
            }
        }

        &--white-circle {
            display: inline-block;
            width:25px;
            height: 25px;
            line-height: 3;
            padding-left: .7rem;
            border-radius: 50%;
            background-color: white;
            
        }

        &--check-icon {
            font-size: 1.3rem;
            visibility: hidden;
            //position: absolute;
            //top: 2.7rem;
            //left: 2.4rem;
            color: $tertiaire;
            @media screen and (max-width: 300px) { 
                top: 3.3rem;
                left:2.3rem;
            }
        }
    }


/* ------------------- Numeros dans les bouttons d'accueil ------------------ */



    &__numero-box {
        position: relative;
    }

    &__numero{
        position: absolute;
        top: 0.2rem;
        left: .67rem;
        font-size: 1.5rem;
        font-weight: normal;
        color: $white;
    }

    &__icon {
        font-size: 2rem;
        color : $grey-text;
        padding-right: 3rem;
        @media screen and (max-width: 200px) { 
            display: none;
        }
    }

    &__paragraphe {
        width:17rem;
    }


}

