// ========================================================================================================================================================================================================================================
//  BBB    TTTTT  N   N
//  B  B     T    NN  N
//  BBBB     T    N N N
//  B   B    T    N  NN
//  B   B    T    N   N
//  BBBB     T    N   N
// ========================================================================================================================================================================================================================================
// * * * BTN

.btn {
    position: relative;
    text-decoration: none;
    font-family: inherit;
    font-size: $font-size ;
    font-weight: bolder;
    padding: 1.5rem 2.5rem;
    border:none;
    box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 15%);

    &:hover,
    &:active {
        background-color: lighten($grey-background, 15%);
        box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 50%);
    }

    //mettre l icon en violet au survol
    &:hover &__icon {
        color: $primaire;
    }

   // ===============================================================================================================================================================================================================================================================================================================================
   //  BBB     OOO   U   U  TTTTT  TTTTT   OOO   N   N        GGG   RRRR     A    DDD    III  EEEEE  N   N  TTTTT
   //  B  B   O   O  U   U    T      T    O   O  NN  N       G   G  R   R   A A   D  D    I   E      NN  N    T
   //  BBBB   O   O  U   U    T      T    O   O  N N N       G      R   R  A   A  D   D   I   EEE    N N N    T
   //  B   B  O   O  U   U    T      T    O   O  N  NN       G  GG  RRRR   AAAAA  D   D   I   E      N  NN    T
   //  B   B  O   O  U   U    T      T    O   O  N   N       G   G  R  R   A   A  D  D    I   E      N   N    T
   //  BBBB    OOO    UUU     T      T     OOO   N   N        GGGG  R   R  A   A  DDD    III  EEEEE  N   N    T
   // ===============================================================================================================================================================================================================================================================================================================================
   // * * * Boutton gradient

    &__gradient {
        background: $gradient;
        height: 5rem;
        color: white;
        border-radius: 10rem;

        &:hover,
        &:active {
            opacity: 0.8;
        }

        &--menus {
            width: 18rem;
            margin: 4rem auto;
            @media screen and (max-width : 200px)
            {
                width: 14rem;
                margin: 4rem auto;
            }
            @media screen and (min-width : 1000px)
            {
                width: 20rem;
            }
        }

    }

    &__default{
        background-color: $grey-background;
        border-radius: 1.4rem;
        width: 100%;
        max-width: 30rem;
        text-align: start;     

        & > div{
            background-color: $primaire;
            border-radius: 50%;
            position: absolute;
            top: 32%;
            left: -4%;
            width: 2.1rem;
            height: 2.1rem;

           @media screen and (max-width: 200px) { 
                top: -10%;
                left: 40%;
            }
        }
    }

    // ================================================================================================================================================================================================================================================================================
    //  BBB    TTTTT  N   N       M   M  EEEEE  N   N  U   U   SSS
    //  B  B     T    NN  N       MM MM  E      NN  N  U   U  S
    //  BBBB     T    N N N       M M M  EEE    N N N  U   U   SSS
    //  B   B    T    N  NN       M   M  E      N  NN  U   U      S
    //  B   B    T    N   N       M   M  E      N   N  U   U      S
    //  BBBB     T    N   N       M   M  EEEEE  N   N   UUU   SSSS
    // ================================================================================================================================================================================================================================================================================
    // * * * BTN Menus
    
    &__menus {
        display: flex;
        height: 6.4rem;
        width: 100% ;
        //max-width: 38rem;
        background-color: #ffffff;
        border-radius: 1.4rem;
        margin-bottom: 2rem;
        overflow: hidden;
        box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 15%);



        @media screen and (max-width: 400px) {
            width: 100%;
            margin: 1rem auto;
        } 

        @media screen and (min-width: 600px) {
            width: 28rem;
        } 

        @media screen and (min-width: 1100px) {
            width: 32rem;
            } 
        
        &:hover &--check {
            animation: check .3s linear  forwards;
            
        }

        &:hover &--check-icon {
            animation: rotate .3s linear forwards;
            
        }

        &:hover {
            box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 30%);
        }

        &--prix {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            height: 6.4rem;
            line-height: 1.5;
            font-weight: bold;
            font-size: $font-size;
        }

        &--check {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 0rem;
            height: 6.4rem;
            background-color: $tertiaire;
            transition: all .2s;
            @media screen and (max-width: 300px) { 
                height: 7rem;
            }
        }

        &--white-circle {
            display: inline-block;
            width:25px;
            height: 25px;
            line-height: 3;
            padding-left: .7rem;
            border-radius: 50%;
            background-color: white;
            
        }

        &--check-icon {
            font-size: 1.3rem;
            visibility: hidden;
            color: $tertiaire;
            @media screen and (max-width: 300px) { 
                top: 3.3rem;
                left:2.3rem;
            }
        }
    }


// ====================================================================================================================================================================================================================================================================================================================================
//  BBB    TTTTT  N   N       N   N  BBB    RRRR   EEEEE   SSS          A     CCC    CCC   EEEEE  U   U  III  L
//  B  B     T    NN  N       NN  N  B  B   R   R  E      S            A A   C   C  C   C  E      U   U   I   L
//  BBBB     T    N N N       N N N  BBBB   R   R  EEE     SSS        A   A  C      C      EEE    U   U   I   L
//  B   B    T    N  NN       N  NN  B   B  RRRR   E          S       AAAAA  C      C      E      U   U   I   L
//  B   B    T    N   N       N   N  B   B  R  R   E          S       A   A  C   C  C   C  E      U   U   I   L
//  BBBB     T    N   N       N   N  BBBB   R   R  EEEEE  SSSS        A   A   CCC    CCC   EEEEE   UUU   III  LLLLL
// ====================================================================================================================================================================================================================================================================================================================================
// * * * BTN Nbres Acceuil



    &__numero-box {
        position: relative;
    }

    &__numero{
        position: absolute;
        top: 0.2rem;
        left: .67rem;
        font-size: 1.5rem;
        font-weight: normal;
        color: $white;
    }

    &__icon {
        font-size: 2rem;
        color : $grey-text;
        padding-right: 3rem;
        @media screen and (max-width: 200px) { 
            display: none;
        }
    }

    &__paragraphe {
        width:17rem;
    }


}

