/* -------------------------------------------------------------------------- */
/*                             articles Restaurant                             */
/* -------------------------------------------------------------------------- */

.article-restaurant {
    width: 100%;
    max-width: 38rem;
    height: 20rem;
    overflow: hidden;

    border-radius: 15px;
    box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 50%);

    background-color: $white;
}

.restaurant__img-box {
    position: relative;
    width: 100%;
    height: 14rem;

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    

    @media screen and (max-width: 200px) { 
        height: 8rem;
    }

    /* -------------------------- Card Background images ------------------------- */
    &--1{
        background-image: url("/images/restaurants/mobile/La-palette-du-gout.jpg");
    }
    &--2{
        background-image: url("/images/restaurants/mobile/La-note-enchantée.jpg");
    }
    &--3{
        background-image: url("/images/restaurants/mobile/A-la-Francaise.jpg");
        p {
            display: none;
        }
    }
    &--4{
        background-image: url("/images/restaurants/mobile/Le-délisse-des-sens.jpg");
        p {
            display: none;
        }
    }

    &--paragraphe {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1.5rem;

        font-size: 1.3rem;
        font-family: $font-texte-black;
        text-align: center;
        line-height: 2.2rem;

        width : 7rem;
        height: 2.3rem;

        background-color: $tertiaire;
        color: rgb(0, 135, 102);

        @media screen and (max-width: 200px) { 
            display: none;
        }
    }
}

.restaurant__mix-box {
    display: flex;
    justify-content: space-between;
}

.mix-box__text {
    display: flex;
    flex-direction: column;
    height: 6rem;
    padding-left: 1.5rem;

    @media screen and (max-width: 200px) { 
       padding: 0;
    }

    &--h2 {
    margin: 1rem auto;
    
    font-size: $font-size-h2; 
    font-family: $font-texte-black; 
    }

    &--p{
        margin: -0.5rem auto;
        margin-left: 0;
        font-size: $font-size;
    }
}

.mix-box__icon {
    position: relative;
    width: 10%;
    font-size: 2rem;

    @media screen and (max-width: 200px) { 
        display: none;
     }

    &--vide {
        font-size: 2.1rem;
        position: absolute;
        top: 1.5rem;
        right:1rem;
    }

    &--plein {
        position: absolute;
        top: 1.5rem;
        right:1rem;
        z-index: -20;
        background-image:$gradient;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}
