
/* ---------------------------------- Card ---------------------------------- */

.card {
    position: relative;
    width: 100%;
    height: 14rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 200px) { 
        height: 10rem;
    }

    /* -------------------------- Card Background images ------------------------- */

    &__img1{
        background-image: url("images/desktop-palette.jpg");
        &--mobile{
            background-image: url("images/mobile-palette.jpg");
        }
    }
    
    &__img2{
        background-image: url("images/desktop-note.jpg");
        background-position: 50% 60%;
        &--mobile{
            background-image: url("images/mobile-note.jpg");
        }
        
    }   
    &__img3{
        background-image: url("images/desktop-francaise.jpg");
        p {
            display: none;
        }
        &--mobile{
            background-image: url("images/mobile-francaise.jpg");
        }
    }
    &__img4{
        background-image: url("images/desktop-delisse.jpg");
        p {
            display: none;
        }
        &--mobile{
            background-image: url("images/mobile-delice.jpg");
        }
    }
    
    /* ----------------------------- Menus palettes ----------------------------- */

    &__menu-palette {
        width: 100%;
        height: 25rem;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

        @media screen and (min-width: 600px) { 
            background-position: center;   
        }
        &--menus{
            background-position: center;
        }
    }

    /* -------------------------- Carré vert sur image -------------------------- */

    &__paragraphe {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        height: 2.3rem;
        width : 7rem;
        text-align: center;
        font-size: 1.3rem;
        font-family: $font-texte-black;
        line-height: 2.2rem;
        background-color: $tertiaire;
        color: rgb(0, 135, 102);
    }

/* ---------------------------- Texte sous image ---------------------------- */
    &__mix-box {
        display: flex;
        //justify-content: space-between;
        color: black;

        position: relative;



        &--text {
            display: flex;
            flex-direction: column;
            //height: 5rem;
            padding-left: 1.5rem;

            @media screen and (max-width: 200px) { 
            padding: 0;
            }

            &--h2 {
            margin: 1rem auto;
            font-size: $font-size-h2; 
            font-family: $font-texte-black; 
            }

            &--p{
                margin: -0.5rem auto;
                margin-left: 0;
                font-size: $font-size;
            }
        }
    }
}

