// =====================================================================================================================================================================================================================================================================================
//  III   CCC    OOO   N   N        CCC    OOO   EEEEE  U   U  RRRR
//   I   C   C  O   O  NN  N       C   C  O   O  E      U   U  R   R
//   I   C      O   O  N N N       C      O   O  EEE    U   U  R   R
//   I   C      O   O  N  NN       C      O   O  E      U   U  RRRR
//   I   C   C  O   O  N   N       C   C  O   O  E      U   U  R  R
//  III   CCC    OOO   N   N        CCC    OOO   EEEEE   UUU   R   R
// =====================================================================================================================================================================================================================================================================================
// * * * Icon coeur
.coeur__box{
    display: flex;
    
    
    &--accueil {
        position: absolute;
        top: 5.5rem;
        right: -1.5rem;
    }

    &--menus{
        position: absolute;
        top: 3.9rem;
        right: 2.5rem;
        @media screen and (max-width : 475px) {
            right: 1.5rem;
        }
        @media screen and (max-width : 320px) {
           right: 0;
        }
    }
}

.fa-heart{
    font-size: 2rem;
    
    &--plein{
        position: absolute;
        bottom: 15px;
        right: 20px;
        color: transparent;
        background: $gradient; 
        background-clip: border-box;
        -webkit-background-clip: text;
        color: transparent; 
        -webkit-text-fill-color:transparent;
        visibility: hidden;
    }

    &--vide{
        position: absolute;
        bottom: 15px;
        right: 20px;
        color: transparent;
        -webkit-text-stroke: 1px black;
        &:hover + .fa-heart--plein{
            animation-name: coeur;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
        &:hover {
            animation: coeur-off .3s .2s forwards;
        }
    }
}