.section-paris {
    background-color: #eaeaea;
}

.form {
    &__group {
        font-size: $font-size;
        height: 3.5rem;
        margin: 0 auto;
    }
    
    &__icon {
        height: 1.5rem;
        margin-right: 0.8rem;
    }
}
