// ======================================================================================================================================================================================================================================================================================================================
//  H   H  EEEEE    A    DDD    III  N   N   GGG        PPPP   RRRR   III  M   M    A    RRRR   Y   Y
//  H   H  E       A A   D  D    I   NN  N  G   G       P   P  R   R   I   MM MM   A A   R   R  Y   Y
//  HHHHH  EEE    A   A  D   D   I   N N N  G           P   P  R   R   I   M M M  A   A  R   R   Y Y
//  H   H  E      AAAAA  D   D   I   N  NN  G  GG       PPPP   RRRR    I   M   M  AAAAA  RRRR     Y
//  H   H  E      A   A  D  D    I   N   N  G   G       P      R  R    I   M   M  A   A  R  R     Y
//  H   H  EEEEE  A   A  DDD    III  N   N   GGGG       P      R   R  III  M   M  A   A  R   R    Y
// ======================================================================================================================================================================================================================================================================================================================
// * * * Heading primary
.heading-primary {
    width: 100%;
        
    &__h1{
        font-size : $font-size-h1;
        font-family: $font-texte-bold;//font-texte-black
        

        &--center {
            text-align: center;
        }

        &--left {
            text-align: left;
            @media screen and (min-width: 600px) { 
                text-align: center;
            }
        }

        &--title {
            width: 90%;
            height: 4rem;
            font-family: $font-Titres;
            font-weight: 500;
            font-size: 2.4rem;
            padding-left: 1rem;
            @media screen and (min-width: 600px) { 
                margin-left: 5%;
            }
            @media screen and (max-width: 300px) { 
                font-size : 2.2rem;
                width: 70%;
            }
        }
        
        @media screen and (max-width: 200px) { 
            font-size : $font-size;
        }
    }   
}

// ======================================================================================================================================================================================================================================================================================================================================
//  H   H  EEEEE    A    DDD    III  N   N   GGG         SSS   EEEEE   CCC    OOO   N   N  DDD      A    RRRR   Y   Y
//  H   H  E       A A   D  D    I   NN  N  G   G       S      E      C   C  O   O  NN  N  D  D    A A   R   R  Y   Y
//  HHHHH  EEE    A   A  D   D   I   N N N  G            SSS   EEE    C      O   O  N N N  D   D  A   A  R   R   Y Y
//  H   H  E      AAAAA  D   D   I   N  NN  G  GG           S  E      C      O   O  N  NN  D   D  AAAAA  RRRR     Y
//  H   H  E      A   A  D  D    I   N   N  G   G           S  E      C   C  O   O  N   N  D  D   A   A  R  R     Y
//  H   H  EEEEE  A   A  DDD    III  N   N   GGGG       SSSS   EEEEE   CCC    OOO   N   N  DDD    A   A  R   R    Y
// ======================================================================================================================================================================================================================================================================================================================================
// * * * heading secondary

.heading-secondary {
    width: 100%;
    
    &__h2 {
        text-align: center;
        font-size: $font-size-h2;
        font-family: $font-texte-light;
        color: $grey-text;

        &--menus {
            position: relative;
            text-transform: uppercase;
            text-align: left;
            font-size: $font-size;
            font-family: $font-texte-normal;
            font-weight: normal;
            margin-top: 2rem;
            margin-bottom: 2rem;
            &::after {
                content: '';
                position: absolute;
                width: 3.5rem;
                display: block;
                height: 2px;
                background-color: $tertiaire;
                bottom: -4px;
            }
        }
    }
}

// =============================================================================================================================================================================================================================================================================================================================
//  H   H  EEEEE    A    DDD    III  N   N   GGG        TTTTT  EEEEE  RRRR    CCC   III    A    RRRR   Y   Y
//  H   H  E       A A   D  D    I   NN  N  G   G         T    E      R   R  C   C   I    A A   R   R  Y   Y
//  HHHHH  EEE    A   A  D   D   I   N N N  G             T    EEE    R   R  C       I   A   A  R   R   Y Y
//  H   H  E      AAAAA  D   D   I   N  NN  G  GG         T    E      RRRR   C       I   AAAAA  RRRR     Y
//  H   H  E      A   A  D  D    I   N   N  G   G         T    E      R  R   C   C   I   A   A  R  R     Y
//  H   H  EEEEE  A   A  DDD    III  N   N   GGGG         T    EEEEE  R   R   CCC   III  A   A  R   R    Y
// =============================================================================================================================================================================================================================================================================================================================
// * * * heading terciary

.heading-terciary{

    &__h3-para {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 0.8rem;
        padding: 1rem;
        padding-bottom: 1rem;
        padding-left: .8rem;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
                
        h3 {
            font-size: 1.6rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        p {
            font-size: 1.4rem;
            font-family: $font-texte-light;
            font-weight: 200;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
} 