// =============================================================================================================================================================================================================================================================
//  L       OOO     A    DDD    EEEEE  RRRR
//  L      O   O   A A   D  D   E      R   R
//  L      O   O  A   A  D   D  EEE    R   R
//  L      O   O  AAAAA  D   D  E      RRRR
//  L      O   O  A   A  D  D   E      R  R
//  LLLLL   OOO   A   A  DDD    EEEEE  R   R
// =============================================================================================================================================================================================================================================================
// * * * Loader
@keyframes white_page {
    0% {
      visibility: visible;
      opacity: 0.95;
    }
    70% {
      opacity: 0.85;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes loader {
    0% {
      box-shadow: 0 0 0 0 #9356DC;
      visibility: visible;
    }
    70% {
      box-shadow: 0 0 0 50px #ff79DA;
    }
    100% {
      box-shadow: 0 0 0 100px rgba(168, 63, 57, 0);
      visibility: hidden;
    }
  }

// ======================================================================================================================================================================================================================================================
//   CCC   H   H  EEEEE   CCC   K  K
//  C   C  H   H  E      C   C  K K
//  C      HHHHH  EEE    C      KK
//  C      H   H  E      C      K K
//  C   C  H   H  E      C   C  K  K
//   CCC   H   H  EEEEE   CCC   K   K
// ======================================================================================================================================================================================================================================================
// * * * Check

  @keyframes check {
    from {
      visibility: visible;
      width: 0rem;
    }
    to {
      width: 7rem ;
    }
  }

  @keyframes prix {
    from 
    {
      transform:translateX(3rem);
    }
    to
    {
      transform: translateX(0rem);
    }
  }
  @keyframes rotate {
    from {
      visibility: visible;
      transform: rotate(-360deg);
    }
    50%{
      transform: rotate(-180deg);
    }
    to {
      transform: rotate(0deg);
      visibility: visible;
    }
  }

// =====================================================================================================================================================================================================================================================================================================
//  M   M  EEEEE  N   N  U   U         A    PPPP   PPPP   EEEEE    A    RRRR    SSS
//  MM MM  E      NN  N  U   U        A A   P   P  P   P  E       A A   R   R  S
//  M M M  EEE    N N N  U   U       A   A  P   P  P   P  EEE    A   A  R   R   SSS
//  M   M  E      N  NN  U   U       AAAAA  PPPP   PPPP   E      AAAAA  RRRR       S
//  M   M  E      N   N  U   U       A   A  P      P      E      A   A  R  R       S
//  M   M  EEEEE  N   N   UUU        A   A  P      P      EEEEE  A   A  R   R  SSSS
// =====================================================================================================================================================================================================================================================================================================
// * * * Menu appears

@keyframes menu-appears {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  10%{
    opacity: 0;
  }
  20%
  {
    opacity: 0;
  }
  30%
  {
    opacity: 0.3;
  }
  40%
  {
    opacity: 0.4;
    
  }
  80%
  {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
    
  }
}

.menu-appears{
  opacity: 0;
  animation: menu-appears .5s ease-in .0s forwards;
}

delay-1 {
  animation-delay: .1s;
}

.delay-2 {
  animation-delay: .3s;
}

.delay-3 {
  animation-delay: .6s;
}

.delay-4 {
  animation-delay: .8s;
}

.delay-5 {
  animation-delay: 1s;
}

.delay-6 {
  animation-delay: 1.2s;
}

.delay-7 {
  animation-delay: 1.4s;
}

.delay-8 {
  animation-delay: 1.6s;
}

.delay-9 {
  animation-delay: 1.8s;
}
.delay-10 {
  animation-delay: 2s;
}


// ======================================================================================================================================================================================================================================================================================================================
//    A    N   N  III  M   M    A    TTTTT  III   OOO   N   N        CCC    OOO   EEEEE  U   U  RRRR
//   A A   NN  N   I   MM MM   A A     T     I   O   O  NN  N       C   C  O   O  E      U   U  R   R
//  A   A  N N N   I   M M M  A   A    T     I   O   O  N N N       C      O   O  EEE    U   U  R   R
//  AAAAA  N  NN   I   M   M  AAAAA    T     I   O   O  N  NN       C      O   O  E      U   U  RRRR
//  A   A  N   N   I   M   M  A   A    T     I   O   O  N   N       C   C  O   O  E      U   U  R  R
//  A   A  N   N  III  M   M  A   A    T    III   OOO   N   N        CCC    OOO   EEEEE   UUU   R   R
// ======================================================================================================================================================================================================================================================================================================================
// * * * Animation coeur
  
@keyframes coeur {
  0%
  {
    transform-origin: bottom center;
    visibility: visible;
    transform: scale(0);
  }
  100%
  {
    transform: scale(1);
    visibility: visible;    
  }
}
@keyframes coeur-off {
  0%
  {
    opacity: 1;
  }
  100%
  {
    opacity:0;
  }
  
}
