@font-face {
    font-family: "Shrikhand-Regular";
    src: url("../fonts/Shrikhand-Regular.ttf");
  }
  @font-face {
    font-family: "roboto-light";
    src: url("../fonts/Roboto-Light.ttf");
    font-family: "roboto-thin";
    src: url("../fonts/Roboto-Thin.ttf");
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: "roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf");
    //font-family: "roboto-black";
    //src: url("/..fonts/Roboto-Black.ttf");
  }

  