@font-face {
    font-family: "Shrikhand-Regular";
    src: url("../../fonts/Logo&titles/Shrikhand-Regular.ttf");
  }
  @font-face {
    font-family: "roboto";
    src: url("../../fonts/Texte/Roboto-Regular.ttf");
  }

  