@font-face {
    font-family: "Shrikhand-Regular";
    src: url("../../fonts/Logo&titles/Shrikhand-Regular.ttf");
  }
  @font-face {
    font-family: "roboto-light";
    src: url("../../fonts/Texte/Roboto-Light.ttf");
    font-family: "roboto-thin";
    src: url("../../fonts/Texte/Roboto-Thin.ttf");
    font-family: "roboto";
    src: url("../../fonts/Texte/Roboto-Regular.ttf");
    font-family: "roboto-bold";
    src: url("../../fonts/Texte/Roboto-Bold.ttf");
    font-family: "roboto-black";
    src: url("../../fonts/Texte/Roboto-Black.ttf");
  }

  