/* -------------------------------------------------------------------------- */
/*                               Section Explore                              */
/* -------------------------------------------------------------------------- */

.section-explore {
    @include flexCenter-section;
    background-color: $grey-background;
}

/* -------------------------------------------------------------------------- */
/*                           Section fonctionnement                           */
/* -------------------------------------------------------------------------- */

.section-fonctionement {
    @include flexCenter-section;
}

/* -------------------------------------------------------------------------- */
/*                             Section restaurants                            */
/* -------------------------------------------------------------------------- */

/* ----------------------------- components//card --------------------------- */
.section-restaurants{
    @include flexCenter-section;
    background-color: $grey-background;

    @media screen and (min-width: 600px){
        display: grid; 
        grid-template-columns: repeat(2,50%);
        grid-template-areas: 
        "gridtitle gridtitle "
        "grid1 grid2"
        "grid3 grid4";

        .gridtitle {
            grid-area: gridtitle;
        }
        .grid1 {
            grid-area: grid1;
            margin-left: auto;
        }
        .grid2 {
            grid-area: grid2;
        }
        .grid3 {
            grid-area: grid3;
            margin-left: auto;
        }
        .grid4 {
            grid-area: grid4;
        } 
    }  
}

