/* -------------------------------------------------------------------------- */
/*                               Section Explore                              */
/* -------------------------------------------------------------------------- */

.section-explore {
    @include flexCenter;
    flex-direction: column;
    padding: $padding-section;
    gap: 2rem;
    background-color: $grey-background;
}

    .heading-primary {
        
        &__h1 {
            text-align: center;
            font-size:$font-size-h1;
            font-family: $font-texte-black;
        }
    }

    .heading-secondary {

        &__h2 {
            text-align: center;
            font-size: $font-size-h2;
            font-family: $font-texte-light;
            color: $grey-text;
            
        }
    }