// ====================================================================================================================================================================================================================================================
//  PPPP     A    RRRR   III   SSS
//  P   P   A A   R   R   I   S
//  P   P  A   A  R   R   I    SSS
//  PPPP   AAAAA  RRRR    I       S
//  P      A   A  R  R    I       S
//  P      A   A  R   R  III  SSSS
// ====================================================================================================================================================================================================================================================
// * * * Paris

.section-paris { 
    background-color: #eaeaea;

    &__paragraphe-box {
        width: 12rem;
    }

    &__input {
        background-color: inherit;
        font-size: $font-size;
        border: none;
        outline: none;
        &::placeholder{
            color: $black;
        }
    }

    &__group {
        font-size: $font-size;
        height: 3.5rem;
        margin: 0 auto;
    }
    
    &__icon {
        height: 1.5rem;
        margin-right: 0.8rem;
    }

    &__paragraphe-box{
        padding-left: 1rem;
        width: 13rem;
        &--input{
        background-color: #eaeaea;
        border:none;
        outline: none;
        font-size: $font-size;
            &::placeholder{
                color: black;
            }
        }
     }
}

// ====================================================================================================================================================================================================================================================================
//  EEEEE  X   X  PPPP   L       OOO   RRRR   EEEEE
//  E       X X   P   P  L      O   O  R   R  E
//  EEE      X    P   P  L      O   O  R   R  EEE
//  E       X X   PPPP   L      O   O  RRRR   E
//  E      X   X  P      L      O   O  R  R   E
//  EEEEE  X   X  P      LLLLL   OOO   R   R  EEEEE
// ====================================================================================================================================================================================================================================================================
// * * * Explore

.section-explore {
    @include flexCenter-section;
    background-color: $grey-background;
}

// ===================================================================================================================================================================================================================================================================================================================
//  FFFFF   OOO   N   N   CCC   TTTTT  III   OOO   N   N  N   N  EEEEE  M   M  EEEEE  N   N  TTTTT
//  F      O   O  NN  N  C   C    T     I   O   O  NN  N  NN  N  E      MM MM  E      NN  N    T
//  FFF    O   O  N N N  C        T     I   O   O  N N N  N N N  EEE    M M M  EEE    N N N    T
//  F      O   O  N  NN  C        T     I   O   O  N  NN  N  NN  E      M   M  E      N  NN    T
//  F      O   O  N   N  C   C    T     I   O   O  N   N  N   N  E      M   M  E      N   N    T
//  F       OOO   N   N   CCC     T    III   OOO   N   N  N   N  EEEEE  M   M  EEEEE  N   N    T
// ===================================================================================================================================================================================================================================================================================================================
// * * * Fonctionnement

.section-fonctionement {
    @include flexCenter-section;
}

// ================================================================================================================================================================================================================================================================================================
//  RRRR   EEEEE   SSS   TTTTT    A    U   U  RRRR     A    N   N  TTTTT   SSS
//  R   R  E      S        T     A A   U   U  R   R   A A   NN  N    T    S
//  R   R  EEE     SSS     T    A   A  U   U  R   R  A   A  N N N    T     SSS
//  RRRR   E          S    T    AAAAA  U   U  RRRR   AAAAA  N  NN    T        S
//  R  R   E          S    T    A   A  U   U  R  R   A   A  N   N    T        S
//  R   R  EEEEE  SSSS     T    A   A   UUU   R   R  A   A  N   N    T    SSSS
// ================================================================================================================================================================================================================================================================================================
// * * * Restaurants

/*  components//card  */
.section-restaurants{
    @include flexCenter-section;
    @include grid-accueil-restaurants;
    background-color: $grey-background;
}

/*  articles Restaurant  */

.article-restaurant {
    height: 25rem;
    width: 100%;
    max-width: 38rem;
    overflow: hidden;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 50%);
}
